<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                <b> RuiliMing(Simon) Ming </b>
            </p>
            <p class="paragraph-text justify-text">
                Grown up in Chengdu, China, the city famous for Panda and Hot-pot. I was studying and working in Natural
                Gas n Petroleum filed.
            </p>
            <p class="paragraph-text justify-text">
                But with the passion of food and wine deep down inside I began my hospitality career as an international
                student at Le Cordon Bleu Adelaide at the age of 24, I completed my degree in 2018, before moving to
                Orana (one of the best restaurants in Australia, the restaurant of the year of 2018) as Chef de Partie,
                and then traveling across the country working at those top restaurants, like Brae (Victoria) Quay
                (Sydney) and Firedoor (Sydney).
            </p>
            <p class="paragraph-text justify-text">
                From this culmination of my experiences & friends ties to the food industry came my passion to open a
                restaurant that showcased local produce & suppliers, inspiring me to open my very first restaurant Ausmo
                latter this year in Adelaide, South Australia.
            </p>
        </div>
    </section>
</div>